*{
    text-align: center;
}


.main{
    margin: 0 auto;
    border: 0px solid black;
}


input{
    display: block;
    border: 0;
}

.content{
    display: flex;
    justify-content: center;
}
